.button {
  background: #807f7f;
  width: 65px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button.double {
  width: 131px;
  grid-column: 1 / span 2;
}
.button.lastColumn {
  background: #f49e3f;
}
.button.firstThree {
  background: #676666;
}
