.App {
  background: #585756;
  /* border-radius: 50px; */
  color: white;
  height: 414px;
  /* padding: 20px; */
  position: relative;
  width: 263px;
  margin: auto;
  top: 100px;
}
.top {
  height: 25px;
  padding: 0 20;
}
.dots {
  background-color: red;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
  margin-left: 5px;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
.input {
  /* text-align: right; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 80px;
  font-size: "60px";
  line-height: "60px";
  margin-bottom: 5px;
  font-weight: 300;
}
.keyboard {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
