.App {
  background: black;
  /* border-radius: 50px; */
  color: white;
  height: 424px;
  /* padding: 20px; */
  position: relative;
  width: 269px;
  margin: auto;
  top: 100px;
}
.top {
  height: 25px;
  padding: 0 20;
}
.dots {
  background-color: red;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin: 4px;
  margin-left: 5px;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
.input {
  font-size: 60px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: right;
}
.keyboard {
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
